language: node_js
os: linux
dist: xenial

node_js:
  - 14
  - 12
  - 10

script:
  - npm run test
  - npm run build

after_success:
  - npm run coverage

jobs:
  include:
    # https://github.com/semantic-release/semantic-release/blob/master/docs/recipes/travis.md
    - stage: release
      node_js: lts/*
      deploy:
        provider: script
        skip_cleanup: true
        script:
          - npx semantic-release
